<div class="${baseClass}">
	<form data-dojo-attach-point="recordsSearchForm" data-dojo-type="dijit/form/Form" enctype="multipart/form-data" action="" method="">
		<div data-dojo-attach-point="recordsSearchForm_title" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Search'">
			<div class="l_row">
				<div style="display: inline-block;margin-right: -4px;   padding: 0px 0 0px 0;width:10%"> 
					<label for="frmRecNumSrch_fld">*Records</label>
					</div>
					<div style="display: inline-block;margin-right: -4px;   padding: 0px 0 0px 0;width:25%">
					<input type="text" data-dojo-attach-point="RecNumSrch"  data-dojo-type="dijit/form/ValidationTextBox" />
				</div>
				<div style="display: inline-block;margin-right: -4px;   padding: 0px 0 0px 0;width:10%">
					
					<button data-dojo-attach-point="searchForm_btn" label="Search" type="button" data-dojo-type="dijit/form/Button"></button>
					</div>
			</div>		
		</div>
	</form>
</div>