<div class="l_main_area">
	<div id="displayName_recordCreate" data-dojo-attach-point="displayName_recordCreate"> </div>
	<div id="displayErrorMsg_recordCreate" data-dojo-attach-point="displayErrorMsg_recordCreate"> </div>
	<div id="displayInfoMsg_recordCreate" data-dojo-attach-point="displayInfoMsg_recordCreate"> </div>
	<h4><div data-dojo-attach-point="viewTitle"></div></h4>
	<div data-dojo-attach-point="recordsSearchContainer"></div>
	<form id="documentRecord" name="documentRecord" data-dojo-attach-point="documentRecord" data-dojo-type="dijit/form/Form">
	<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Record'">
		<div class="l_row">		
			<div class="l_column_half">
		        <label for="rec_txtRecordNumber">* Record #</label>
				<div type="text" data-dojo-attach-point="rec_txtRecordNumber" name="rec_txtRecordNumber" data-dojo-props="maxlength:100,required:true" 
					data-dojo-type="dijit/form/ValidationTextBox"></div>
					
				<label for="rec_txtRecordTitle">Record Title</label>
				<div data-dojo-attach-point="rec_txtRecordTitle" name="rec_txtRecordTitle" data-dojo-type="dijit/form/ValidationTextBox"></div>
					
				<label for="rec_ddlRecordSource">* Record Source</label>
			    <select data-dojo-attach-point="rec_ddlRecordSource" data-dojo-type="dijit/form/Select" name="rec_ddlRecordSource">
			       <option value="0">Internal</option>
			       <option value="1">External</option>
			    </select>
		    
			    <label for="rec_ddlClass">* Classification</label>
			    <select data-dojo-attach-point="rec_ddlClass" data-dojo-type="dijit/form/FilteringSelect" name="rec_ddlClass"></select>
			    
			    <label for="rec_ddlSubClass">* Sub-Classification</label>
			    <select data-dojo-attach-point="rec_ddlSubClass" data-dojo-type="dijit/form/FilteringSelect" name="rec_ddlSubClass"></select>
			    
			
			    <label for="rec_effectiveDate">* Effective Date</label>
			    <div data-dojo-attach-point="rec_effectiveDate" name="rec_effectiveDate" data-dojo-type="dijit/form/DateTextBox"></div>
			    
			    <label for="rec_expirationDate">Expiration Date</label>
			    <div data-dojo-attach-point="rec_expirationDate" name="rec_effectiveDate" data-dojo-type="dijit/form/DateTextBox"></div>	    	
			</div>
		
		
			<div class="l_column_half">		   
		        <label for="rec_ddlNPPI">* NPPI/PCI Designation</label>
                <select data-dojo-attach-point="rec_ddlNPPI" data-dojo-type="dojox/form/CheckedMultiSelect"
						  data-dojo-props="dropDown: true, multiple: true, required: true, sortByLabel:false"  name="rec_ddlNPPI"></select>
	
		        <label for="rec_ddlTimingCode">Timing Code</label>
			    <select data-dojo-attach-point="rec_ddlTimingCode" data-dojo-type="dojox/form/CheckedMultiSelect" 
							data-dojo-props="dropDown: true, multiple: true, required: false" name="rec_ddlTimingCode">
			    </select>
			    
			    	<label for="rec_txtLunarDocType">Lunar Doc Type</label>
			    <select data-dojo-attach-point="rec_txtLunarDocType" data-dojo-type="dojox/form/CheckedMultiSelect" 
								data-dojo-props="dropDown: true, multiple: true, required: false" name="rec_txtLunarDocType">
			    </select>
				<br>
				
				<div id="commentRecord" data-dojo-attach-point="commentRecord">
				    <label for="rec_txtInitialComment">Comment</label>
				    <textarea data-dojo-attach-point="rec_txtInitialComment" name="rec_txtInitialComment" data-dojo-type="dijit/form/SimpleTextarea" 
						data-dojo-props="trim:true, propercase:true",rows="4" cols="50">
					</textarea>	
				</div>
				<div id="ricSection" data-dojo-attach-point="ricSection">
					<label for="rec_ric">RIC</label>
					<input data-dojo-attach-point="rec_ric" name="rec_ric" data-dojo-props="maxlength:100,required:true" 
					data-dojo-type="dijit/form/TextBox" readonly/>
					<br><br>					
					<input data-dojo-attach-point="rec_promoInd" data-dojo-type="dijit/form/CheckBox">Mark For Promotion</input>
				</div>   	
			</div>
			
			
		</div>
	</div>
    </form>	
        <div class="l_row_pad">
        	<button id="historyBtn_recordsCreate" data-dojo-attach-point="historyBtn_recordsCreate" type="button" data-dojo-type="dijit/form/Button">Comments</button>
            <button data-dojo-attach-point="btnSave_recordsCreate" type="button" data-dojo-type="dijit/form/Button">Save</button>
            <button data-dojo-attach-point="btnCancel_recordsCreate" type="button" data-dojo-type="dijit/form/Button">Cancel</button>
		 
        </div>
       
</div>
